body{
    background-color: rgb(255, 255, 255);
}
.nav-top{
    background-color: rgb(196, 173, 99) !important;
}
.nav-link{
    color: white !important;
}
footer{
    background-color: rgb(196, 173, 99) !important;
    text-align: center !important;
    color: white !important;
    
}
.img-car{
    max-height: 600px !important;    
}
.divisao{
    background-color:rgb(196, 173, 99) !important;
text-align: center !important;
color: white !important;
padding: 2em !important;
}
.carousel-caption{
    background-color: rgba(109, 96, 53, 0.589) !important;
    border-radius: 20px !important;
}